.section_sobre_mi{
    min-height: 100vh;
    background-color: var(--negro-secundario);
}

.div_mis_hobbies{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.div_sobre_mi{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.div_lineas_genericas{
    justify-content: center;
}

.div_sobre_mi_texto{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.div_sobre_mi_texto p{
    font-size: 2.5rem;
}

.div_hobbies_img img{
    width: 80%;
    height: 80%;
    object-fit: cover; /* Ajusta la imagen dentro del borde sin deformarla */
    transition: transform 0.5s ease-in-out;
}


.div_hobbies_img_border{
    display: flex; /* Centra la imagen dentro */
    align-items: center;
    justify-content: center;
    border: 0.5rem solid var(--blanco-primario);
    border-radius: 100%;
    width: 45rem; /* Ajusta a un tamaño fijo */
    height: 45rem; /* Mantiene la proporción circular */
    overflow: hidden; /* Evita que la imagen sobresalga */
}


.div_hobbies_img{
    width: 100%;
    text-align: center;
}

.div_hobbies_center{
    display: flex;
    justify-content: center;
    margin: 2.5rem auto;
}

.flip-animation {
    transform: rotateX(180deg); /* Aplica el giro */
}

.triangulo_up,.triangulo_down{
    margin: 0 auto;
}

.invert_image {
    filter: invert(100%);
}

/* MEDIA QUERIES PARA MOVILES Y TABLETS GRANDES */
@media (max-width: 767px) {

}
/* Movil */
@media (max-width: 480px) {
    .div_sobre_mi{
        grid-template-columns: 1fr;
    }
}
