.section_contenido_principal{
  width: auto;
}

.div_contenido_principal{
  display: grid;
  column-gap: 1rem;
  padding: 2rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.div_info_principal{
  grid-column-start: 3;
  display: flex;
  align-items: center;
  width: auto;
}

.div_info{
  width: 100%;
}

.info_title{
  font-weight: 1000;
}

.info_subtitle{
  font-size: 2rem;
  font-weight: bold;
}

.info_desc{
  font-size: 1.7rem;
  font-weight: 450;
  font-style: italic;
}

.div_mi_foto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.div_mi_foto img{
  max-width: 90rem;
  transition: opacity 0.5s ease;
}

.div_mi_foto img:hover{
  opacity: 20%;
  cursor: pointer;
  transition: opacity 0.5s ease;
}
